@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">ДОБРО ПОЖАЛОВАТЬ В ПИЦЦЕРИЮ "ВЕНЕЦИЯ"</h1>
    <p>Здравствуйте, @ViewBag.UserName!</p>
    <img src="/images/logo.jpg" class="detailImage" />
</div>
