@model IEnumerable<VeniceDemo.App.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Ваши заказы</h1>

<p>
    <a asp-action="Create">Создать новый заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер заказа
            </th>
            <th>
                Дата заказа
            </th>
            <th>
                Общая стоимость
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @item.TotalCost
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Детали заказа</a>
            </td>
        </tr>
}
    </tbody>
</table>
